.swiper {
  width: 100%;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  background-size: cover;
  background-position: center;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  height: unset;
}

.thumbnail {
  width: 100%;
}

.thumbnail-nav {
  box-sizing: border-box;
  padding: 10px 0;
}

.thumbnail-nav .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.thumbnail-nav .swiper-slide-thumb-active {
  opacity: 1;
}
