@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 600;
	src: url('../../fonts/yekan/eot/iranyekanwebboldfanum.eot');
	src: url('../../fonts/yekan/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/yekan/woff/iranyekanwebboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/yekan/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}
@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/yekan/eot/iranyekanweblightfanum.eot');
	src: url('../../fonts/yekan/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/yekan/woff/iranyekanweblightfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/yekan/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('../../fonts/yekan/eot/iranyekanwebregularfanum.eot');
	src: url('../../fonts/yekan/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../../fonts/yekan/woff/iranyekanwebregularfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../../fonts/yekan/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

body
, p , span
, .marquee__box a
, .search-wrap .title 
, .contact-list h4 
, .choose-content .play-btn 
, .about-img-wrap-three .experience-wrap p
, .cta-info-wrap .content span
, .testimonial-content-two > p
, .testimonial-avatar .avatar-info span
, .pricing-head-two .title
, .pricing-price-two .price
, .pricing-item-wrap .pricing-tab .tab-btn
, .testimonial-content-three p
, .testimonial-info span
, .brand-item-wrap .title
, .about-list .list-wrap li
, .about-success-wrap .list-wrap li .content p
, .testimonial-content-four > p
, .pricing-price-two .price span
, .testimonial-item-wrap-five .testimonial-content p
, .faq-content .accordion-button
, .testimonial-content p
, .pricing-price .price
, .pricing-price .price span
, .pricing-price .price strong
, .sd-inner-wrap .content .list-wrap li
, .services-cat-list .list-wrap li a
, .project-details-info > .list-wrap > li
, .pd-inner-wrap .content .list-wrap li
, .team-details-info .list-wrap li
, .blog-post-content-two .title
, .rc-post-item .content .title
, .bd-inner-wrap .content .list-wrap li
, .blog-details-content .title-two
, .blog-details-content blockquote p
, .contact-info-item .list-wrap li
, .choose-content .play-btn
, .experience-wrap-two span
, .counter-content-five p
, .counter-content-five .count
, .team-content-six p
, .banner-content-six p
, .banner-img-content-bottom span
, .features-content-six .link-btn
, .features-content-six p
, .services-content-six p
, .services-content-six .btn
, .cta-info-wrap .content a
, .pricing-content p
, .banner-content-seven p
, .clients-box .content span
, .services-content-seven .btn
, .section-title-two span, .about-img-wrap-three .experience-wrap .title span
, .navbar-wrap ul li a
, .cta-content-right .cta-btn .btn
, .about-list-two .list-wrap li
, .border-btn
, .project-content-seven .content span
, .accordion-wrap-three .accordion-button
, .country-content .title-two
, .banner-content-eight .sub-title
, .sd-inner-wrap-five .right-side-content .list-wrap li {
    font-family: iranyekan !important;
}