.base-fade.fade-out {
  visibility: hidden;
  opacity: 0;
}
.base-fade {
  -webkit-transition: opacity .25s ease-in-out, .25s visibility linear;
  -moz-transition: opacity .25s ease-in-out, .25s visibility linear;
  -o-transition: opacity .25s ease-in-out, .25s visibility linear;
  transition: opacity .25s ease-in-out, .25s visibility linear;
}